* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition:
    color 300ms ease,
    background-color 300ms ease;
}

html,
body,
#app {
  width: 100dvw;
  height: 100dvh;
}

#app {
  /* update index.html if changing bg color */
  --text-color: #22223b;
  --primary-color: #4a4e69;
  --secondary-color: #9a8c98;
  --sec-background-color: #c9ada7;
  --background-color: #f2e9e4;
  &.dark {
    --text-color: #f2e9e4;
    --primary-color: #c9ada7;
    --secondary-color: #9a8c98;
    --sec-background-color: #4a4e69;
    --background-color: #22223b;
  }

  display: flex;
  font-family: "Kiwi Maru", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: visible;
}

/* https://codepen.io/olegmilshtein/pen/jrWrqV */
body::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-image:
    linear-gradient(
      to top,
      #ffffff33 33.33333%,
      #ffffff66 33.33333%,
      #ffffff66 66.66666%,
      #ffffff99 66.66666%
    ),
    linear-gradient(
      to right,
      #ff0000b3 33.33333%,
      #00ff00b3 33.33333%,
      #00ff00b3 66.66666%,
      #0000ffb3 66.66666%
    );
  --pixel-size: 3px;
  background-size: var(--pixel-size) var(--pixel-size);
  mix-blend-mode: multiply;
}
